@import "styles/utils";

.heroSection {
  position: relative;
  min-height: 800px;
  padding-top: 156px;
  overflow: hidden;

  @include media(">tablet") {
    padding-top: 189px;
    min-height: 600px;
  }

  &::before {
    position: absolute;
    top: -170px;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("/img/home/bg-pattern-header.svg") no-repeat;
    background-position: top center;
    background-size: 458px 458px;
    content: "";

    @include media(">tablet") {
      top: -165px;
      right: -345px;
      background-size: 666px 666px;
    }

    @include media(">desktop") {
      top: 0;
      right: 0;
      background-size: 1134px 1134px;
      background-position: 650px -420px;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">tablet") {
      flex-direction: row-reverse;
      grid-gap: 40px;
    }

    .banner {
      text-align: center;
      width: 190px;
      margin-bottom: 28px;

      @include media(">tablet") {
        width: 310px;
        margin-top: 20px;
        margin-bottom: 0;
      }

      @include media(">desktop") {
        position: relative;
        left: 30px;
        width: 530px;
      }
    }

    .content {
      text-align: center;

      @include media(">tablet") {
        text-align: left;
      }

      @include media(">desktop") {
        padding-bottom: 60px;
      }

      .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #333950;
        margin-bottom: 28px;

        @include media(">tablet") {
          margin-bottom: 24px;
        }

        @include media(">desktop") {
          font-size: 56px;
          line-height: 64px;
        }
      }

      .description {
        font-size: 16px;
        line-height: 26px;
        color: #747B95;
        margin-bottom: 24px;

        @include media(">desktop") {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 32px;
        }
      }
    }
  }
}
