@import "styles/utils";

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 90px;

  @include media(">desktop") {
    grid-gap: 81px;
  }

  > * {
    z-index: 1;
  }
}
