@import "styles/utils";

.footer {
  width: 100%;
  padding: 7px 0 100px;

  @include media(">tablet") {
    padding: 16px 0 100px;
  }

  @include media(">desktop") {
    padding: 0 0 91px;
  }

  .container {
    text-align: center;

    @include media(">tablet") {
      max-width: 448px;
    }

    @include media(">desktop") {
      max-width: 1110px;
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;

    @include media(">tablet") {
      margin-bottom: 12px;
    }

    @include media(">desktop") {
      margin-bottom: 2px;
    }

    .highlight {
      color: #5175FF
    }
  }

  .countdown {
    margin-bottom: 40px;

    @include media(">tablet") {
      margin-bottom: 48px;
    }

    @include media(">desktop") {
      margin-bottom: 0;
    }
  }

  .button {
    box-shadow: none;

    @include media(">desktop") {
      margin-top: 64px;
    }
  }
}
